# .github/workflows/ci.yml
name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.14'
          cache: 'pip'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip pylint pytest
          pip install -r requirements.txt
      - name: Lint with pylint
        run: |
          pylint POSPrinter_API.py
      - name: Run tests
        run: |
          pytest tests/ --doctest-modules --junitxml=results.xml
      - name: Upload test results
        uses: actions/upload-artifact@v4
        with:
          name: test-results
        if: always()